# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Build output
dist/
build/

# Environment files
.env
.env.*

# Uploads (agar user images / files yahan save hote hain)
uploads/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
